
:root[data-theme="dark"]
{
  --body-color:#959596;
  --text-color:#87b22d;
  --header-color:#6e6f71;
  --footer-color:#373539;
  --switchcircle-bg:#87b22d;
  --switchcircle-pos:0.22rem;
  --info-color:var(--body-color);
  --table-col:#6e6f71;
  --title-col:#87b22d;
}
:root[data-theme="light"]
{
  --body-color:white;
  --text-color:black;
  --header-color:#8D8741;
  --footer-color:#5c550f;
  --switchcircle-bg:rgb(111, 106, 106);
  --switchcircle-pos:3.3rem;
  --info-color:#8D8741;
  --table-col:#cdcbb3;
  --title-col:#5c550f;
}
body{
    display: flex;
    flex-direction: column;
}
.header-button
{
  color:var(--text-color);
  text-decoration:none;
}
.header
{   
    margin-top: 0px;
    margin-bottom: 120px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 60% 10% 10% 10% 10%;
    align-items: center;
    -ms-grid-column-span: inherit;
    background-color:var(--header-color);
    border-radius: 30px;
    opacity: 70%;

}
.theme-switcher
{
  border-radius: 50px;
  background-color:var(--header-color);
  width: 70px;
  height:20px;
  display:flex ;
  align-items: center;
  gap:2rem;
  cursor: POINTER;
  padding: 0.66rem;
  position:relative;
  
}
#theme-switcher::before{
  content:'';
  position:absolute;
  width:2.22rem;
  height:2.22rem;
  background-color:var(--switchcircle-bg) ;
  border-radius: 50px;
  z-index: 0;
  left:0;
  transform: translateX(var(--switchcircle-pos));
}
 #theme-switcher svg{
  z-index: 1;
 } 

.moon-icon{
  color: #bbb;
  
  }
img{
    width: 100px;
    padding-top: 0px    ;
}
select{
    
    border-width: 0px;
    background-color:var(--header-color);
    color:var(--text-color);
    width: max-content;
}
.text
{
    font-family:Arial, Helvetica, sans-serif;
}
a:hover
{ 
    color:aliceblue;
    opacity: 50%;
}
button
{
    width: max-content;
    background-color: var(--header-color);
    padding:18px;
    border-width: 0px;   
}
button:hover{
    border-width: 2px; ;
    box-shadow:black;
}
body
{
    background-image:repeating-linear-gradient(var(--body-color),var(--header-color));
    background-repeat:no-repeat;
}
.grid-container
{
    display:inline-flex;
    margin-top:50px;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    margin-bottom: 70px;
    margin-left: 70px;
}
.item
{
    display: grid;
    width: 350px;
    grid-template-rows: 200px;
    border-radius: 20px;
    box-shadow:black;
}
.info
{
    overflow-wrap :break-word ;
    max-inline-size: auto;
    background-color:var(--info-color);
    width: 350px;
    height: 70px;
    color:white;
}
.news-photo{
    border-radius: 20px; 
}  
.row
{
    display:flex;
    column-gap: 250px;
} 
li:hover{
 text-decoration:underline;

}
.row1
{
    display: flex;
    flex-direction: column;
}
.container
{
    display: flex;
    flex-direction: row;
    column-gap:250px;
}
footer{
    background-color: var(--footer-color);
}
.body
{
    display: flex;
    flex-direction: column;
}

.tool1
{
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 30cap;
    
}
video
{
    object-fit: cover;
    margin-top: 90px;
    margin-left:100px;
}
.container2
{
    margin-right: 70px;
    padding: 0%;
    border: 0cm;
    overflow: hidden;
    
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--header-color);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
table{
  padding: 10px;
}
tr:nth-child(even) {background-color: var(--table-col);}
th {
  background-color:var(--title-col);
  color: white;
}